<!DOCTYPE html>
<html class="no-js" lang="fa">

<head>
    <meta charset="utf-8">
    <title>صفحه 404 | قالب HTML فروشگاهی بوکا</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="HTML Store Template">
    <meta name="author" content="Sitranet HTML Themes">

    <!-- StyleSheet -->
    <link href="assets/css/bootstrap.css" type="text/css" rel="stylesheet">
    <link href="assets/js/rs-plugin/css/settings.css" type="text/css" rel="stylesheet" />
    <link href="assets/js/jquery-ui-1.10.3/css/smoothness/jquery-ui-1.10.3.custom.min.css" type="text/css"
        rel="stylesheet" />
    <link href="assets/js/prettyphoto/css/prettyPhoto.css" type="text/css" rel="stylesheet" />
    <link href="fonts/fontawesome/css/all.min.css" type="text/css" rel="stylesheet" />
    <link href="assets/css/main.css" type="text/css" rel="stylesheet">
    <link href="assets/css/responsive.css" type="text/css" rel="stylesheet">

    <!-- JS -->
    <script src="assets/js/modernizr.custom.56918.js"></script>

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/apple-touch/144.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/apple-touch/114.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/apple-touch/72.png">
    <link rel="apple-touch-icon-precomposed" href="images/apple-touch/57.png">
    <link rel="shortcut icon" href="images/apple-touch/57.png">
</head>


<body class="error404">

    <div class="master-wrapper">

        <!--  = Header =  -->
        <header id="header">
            <div class="container">
                <div class="row">

                    <!--  = Logo =  -->
                    <div class="span7">
                        <a class="brand" href="index.html">
                            <img src="images/logo.png" alt="Logo" width="48" height="48" loading="lazy" />
                        </a>
                    </div>

                    <!--  = Languages & Social Icons =  -->
                    <div class="span5">
                        <div class="topmost-line">
                            <!-- = Languages = -->
                            <div class="lang-currency">
                                <div class="dropdown js-selectable-dropdown flag-country">
                                    <a data-toggle="dropdown" class="selected" href="#">
                                        <span class="js-change-text">
                                            <i class="famfamfam-flag-gb"></i> انگلیسی (EN)</span> <b class="caret"></b>
                                    </a>
                                    <!-- for all available country flags look the styles in assets/lib/components/_flags.scss -->
                                    <ul class="dropdown-menu js-possibilities" role="menu" aria-labelledby="dLabel">
                                        <li><a href="#"><i class="famfamfam-flag-gb"></i> انگلیسی (EN)</a></li>
                                        <li><a href="#"><i class="famfamfam-flag-si"></i> اسلوانیایی (SI)</a></li>
                                        <li><a href="#"><i class="famfamfam-flag-de"></i> آلمانی (DE)</a></li>
                                        <li><a href="#"><i class="famfamfam-flag-fr"></i> فرانسوی (FR)</a></li>
                                        <li><a href="#"><i class="famfamfam-flag-es"></i> اسپانیولی (ES)</a></li>
                                    </ul>
                                </div>
                                <div class="dropdown js-selectable-dropdown symbol">
                                    <a data-toggle="dropdown" class="selected" href="#">
                                        <span class="js-change-text">USD ($)</span>
                                        <b class="caret"></b>
                                    </a>
                                    <ul class="dropdown-menu js-possibilities" role="menu" aria-labelledby="dLabel">
                                        <li><a href="#">USD ($)</a></li>
                                        <li><a href="#">EUR (€)</a></li>
                                        <li><a href="#">YEN (¥)</a></li>
                                        <li><a href="#">GBP (£)</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div> <!-- = /Languages = -->


                        <!-- = Social Icons = -->
                        <div class="top-right">
                            <div class="icons">
                                <a href="https://www.facebook.com/" target="_blank" rel="nofollow"><i
                                        class="fab fa-facebook"></i></a>
                                <a href="https://wa.me/+981234567" target="_blank" rel="nofollow"><i
                                        class="fab fa-whatsapp"></i></a>
                                <a href="https://twitter.com/" target="_blank" rel="nofollow"><i
                                        class="fab fa-twitter"></i></a>
                                <a href="https://t.me/" target="_blank" rel="nofollow"><i
                                        class="fab fa-telegram"></i></a>
                                <a href="https://www.instagram.com" target="_blank" rel="nofollow"><i
                                        class="fab fa-instagram"></i></a>
                            </div>

                            <div class="register">
                                <a href="#loginModal" role="button" data-toggle="modal">ورود</a> |
                                <a href="#registerModal" role="button" data-toggle="modal">ثبت نام</a>
                            </div>
                        </div>
                    </div> <!-- /social icons -->
                </div>
            </div>
        </header>

        <!--  = Main Menu / navbar =  -->
        <div class="navbar navbar-static-top" id="stickyNavbar">
            <div class="navbar-inner">
                <div class="container">
                    <div class="row">
                        <div class="span9">
                            <button type="button" class="btn btn-navbar" data-toggle="collapse"
                                data-target=".nav-collapse">
                                <span class="fas fa-bars"></span>
                            </button>

                            <!--  = Menu =  -->
                            <div class="nav-collapse collapse">
                                <ul class="nav" id="mainNavigation">
                                    <li class="active">
                                        <a href="index.html"> صفحه اصلی</a>
                                    </li>

                                    <li class="dropdown">
                                        <a href="shop.html" class="dropdown-toggle"> فروشگاه <b class="caret"></b> </a>
                                        <ul class="dropdown-menu">
                                            <li><a href="shop.html">قالب پیش فرض</a></li>
                                            <li><a href="shop-no-sidebar.html">تمام صفحه</a></li>
                                            <li><a href="single-product.html">محصول تکی</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a href="blog.html" class="dropdown-toggle">بلاگ <b class="caret"></b> </a>
                                        <ul class="dropdown-menu">
                                            <li><a href="blog.html">قالب پیش فرض</a></li>
                                            <li><a href="blog-single.html">تک نوشته</a></li>
                                            <li><a href="blog-search.html">نتایج جستجو</a></li>
                                        </ul>
                                    </li>

                                    <li class="dropdown">
                                        <a href="features.html" class="dropdown-toggle"> امکانات <b class="caret"></b>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li class="dropdown">
                                                <a href="checkout-step-1.html">
                                                    <i class="fa fa-caret-left pull-right visible-desktop"></i> تسویه
                                                    حساب</a>
                                                <ul class="dropdown-menu">
                                                    <li><a href="checkout-step-1.html">مرحله اول</a></li>
                                                    <li><a href="checkout-step-2.html">مرحله دوم</a></li>
                                                    <li><a href="checkout-step-3.html">مرحله سوم</a></li>
                                                    <li><a href="checkout-step-4.html">مرحله چهارم</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="404.html">صفحه 404</a></li>

                                        </ul>
                                    </li>

                                    <li><a href="about-us.html">درباره ما</a></li>
                                    <li><a href="contact.html">تماس با ما</a></li>
                                </ul>

                                <!--  = Search form =  -->
                                <form class="navbar-form pull-right" action="#" method="get">
                                    <button type="submit"><i class="fa fa-search"></i></button>
                                    <input type="text" class="span1" name="search" id="navSearchInput"
                                        placeholder="جستجو">
                                </form>
                            </div><!-- /.nav-collapse -->
                        </div>

                        <!--  = Cart =  -->
                        <div class="span3">
                            <div class="cart-container" id="cartContainer">
                                <div class="cart">
                                    <p class="items">سبد خرید <span class="dark-clr">(3)</span></p>
                                    <a href="checkout-step-1.html" class="btn btn-danger">
                                        <i class="fas fa-shopping-cart"></i>
                                    </a>
                                </div>
                                <div class="open-panel">

                                    <div class="item-in-cart clearfix">
                                        <div class="image">
                                            <img src="images/dummy/cart-items/cart-item-1.jpg" width="124" height="124"
                                                alt="cart item" loading="lazy" />
                                        </div>
                                        <div class="desc">
                                            <strong><a href="single-product.html">کتاب Innovation Imperative نویسنده
                                                    پائول هیل</a></strong>
                                            <span class="light-clr qty">
                                                تعداد : 1
                                                <a href="#" class="fas fa-trash-alt" title="حذف این کتاب"></a>
                                            </span>
                                        </div>
                                        <div class="price">
                                            <p>قیمت:</p>
                                            <strong>1000<span>تومان</span></strong>
                                        </div>
                                    </div>

                                    <div class="item-in-cart clearfix">
                                        <div class="image">
                                            <img src="images/dummy/cart-items/cart-item-2.jpg" width="124" height="124"
                                                alt="cart item" loading="lazy" />
                                        </div>
                                        <div class="desc">
                                            <strong><a href="single-product.html">کتاب The Verth of Asaph نویسنده
                                                    هون</a></strong>
                                            <span class="light-clr qty">
                                                تعداد : 1
                                                <a href="#" class="fas fa-trash-alt" title="حذف این کتاب"></a>
                                            </span>
                                        </div>
                                        <div class="price">
                                            <p>قیمت:</p>
                                            <strong>1000<span>تومان</span></strong>
                                        </div>
                                    </div>

                                    <div class="item-in-cart clearfix">
                                        <div class="image">
                                            <img src="images/dummy/cart-items/cart-item-3.jpg" width="124" height="124"
                                                alt="cart item" loading="lazy" />
                                        </div>
                                        <div class="desc">
                                            <strong><a href="single-product.html">کتاب Dinner With Lisa نویسنده
                                                    پرندرگاست</a></strong>
                                            <span class="light-clr qty">
                                                تعداد : 1
                                                <a href="#" class="fas fa-trash-alt" title="حذف این کتاب"></a>
                                            </span>
                                        </div>
                                        <div class="price">
                                            <p>قیمت:</p>
                                            <strong>1000<span>تومان</span></strong>
                                        </div>
                                    </div>

                                    <div class="summary">
                                        <div class="line">
                                            <div class="row-fluid">
                                                <div class="span6">هزینه ارسال :</div>
                                                <div class="span6 align-right">3000<span>تومان</span></div>
                                            </div>
                                        </div>
                                        <div class="line">
                                            <div class="row-fluid">
                                                <div class="span6">جمع کل :</div>
                                                <div class="span6 align-right size-16">6000<span>تومان</span></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="proceed">
                                        <a href="checkout-step-1.html"
                                            class="btn btn-danger pull-right bold higher">تسویه حساب
                                        </a>
                                        <small>هزینه ارسال بر اساس منطقه جغرافیایی محاسبه میشود. <a href="#">اطلاعات
                                                بیشتر</a></small>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- /cart -->
                    </div>
                </div>
            </div>
        </div> <!-- /main menu -->


        <!--  = Breadcrumbs =  -->
        <div class="darker-stripe">
            <div class="container">
                <div class="row">
                    <div class="span12">
                        <ul class="breadcrumb">
                            <li>
                                <a href="index.html">صفحه اصلی</a>
                            </li>
                            <li><span class="fa fa-chevron-left"></span></li>
                            <li>
                                <a href="404.html">خطای 404</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="push-up blocks-spacer">
                <div class="row">

                    <!--  = Main content =  -->
                    <section class="span12">

                        <p class="container-404">
                            <img src="images/404.png" alt="404 Error" width="394" height="161" loading="lazy" />
                        </p>

                        <hr />

                        <p class="center-align size-16">
                            به نظر می آید مشکلی پیش آمده! صفحه ای که به دنبال آن می گردید در اینجا نیست.
                        </p>
                        <p class="center-align size-16 push-down-50">
                            به <a href="index.html">صفحه اصلی</a> باز گردید یا جستجو کنید :
                        </p>

                        <div class="row">
                            <div class="span4 offset4">
                                <div class="sidebar-item widget_search">
                                    <form role="search" method="get" id="searchform" action="#" class="form">
                                        <input type="text" placeholder="جستجو..." name="s" class="input-block-level"
                                            id="appendedInputButton">
                                        <button type="submit">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </section> <!-- /main content -->
                </div>
            </div>
        </div> <!-- /container -->


        <!--  = Footer =  -->
        <footer>

            <!--  = Upper footer =  -->
            <div class="foot-light">
                <div class="container">
                    <div class="row">
                        <div class="span4">
                            <a href="index.html"><img src="images/logo-white.png" alt="white logo"
                                    class="align-baseline" loading="lazy" /></a>
                            <p>این یک نوشته آزمایشی است. شما میتوانید این قسمت را با نوشته های دلخواه خود که مناسب این
                                ناحیه باشند پر نمایید. ما این بخش را با نوشته هایی بی معنی پر کرده ایم.</p>
                        </div>
                        <div class="span4 social-network">
                            <div class="main-titles lined widget-title">
                                <h3 class="title">ما را دنبال کنید</h3>
                            </div>
                            <div class="widget-content">
                                <a href="https://www.fb.com" class="fb" target="_blank" rel="nofollow">
                                    <i class="fab fa-facebook-f"></i><span>فیسبوک</span>
                                </a>
                                <a href="https://www.twitter.com" class="tw" target="_blank" rel="nofollow">
                                    <i class="fab fa-twitter"></i><span>توئیتر</span>
                                </a>
                                <a href="https://www.instagram.com" class="ig" target="_blank" rel="nofollow">
                                    <i class="fab fa-instagram"></i><span>اینستاگرام</span>
                                </a>
                                <a href="https://t.me" class="tg" target="_blank" rel="nofollow">
                                    <i class="fab fa-telegram-plane"></i><span>تلگرام</span>
                                </a>
                                <a href="https://www.youtube.com" class="yt" target="_blank" rel="nofollow">
                                    <i class="fab fa-youtube-square"></i><span>یوتیوب</span>
                                </a>
                                <a href="https://www.pinterest.com" class="pn" target="_blank" rel="nofollow">
                                    <i class="fab fa-pinterest-p"></i><span>پینترست</span>
                                </a>
                                <a href="https://www.linkedin.com/in/" class="in" target="_blank" rel="nofollow">
                                    <i class="fab fa-linkedin-in"></i><span>لینکداین</span>
                                </a>
                                <a href="https://www.aparat.com" class="ap" target="_blank" rel="nofollow">
                                    <img src="images/aparat.svg" class="aparat" width="60px" height="60px" alt="aparat"
                                        loading="lazy" />
                                    <span>آپارات</span>
                                </a>
                            </div>
                        </div>

                        <!-- = newsletters = -->
                        <div class="span4 newsletters">
                            <div class="main-titles lined widget-title">
                                <h3 class="title"><span class="light">عضویت</span> در خبرنامه</h3>
                            </div>
                            <div class="widget-content">
                                <p>این بخشی از یک نوشتار آزمایشی صرفا برای پر کردن این ناحیه است. جهت عضویت در خبرنامه
                                    ایمیل خود را وارد کنید.</p>
                                <!-- Begin MailChimp Signup Form -->
                                <div id="mc_embed_signup">
                                    <form
                                        action="http://proteusthemes.us4.list-manage1.com/subscribe/post?u=ea0786485977f5ec8c9283d5c&amp;id=5dad3f35e9"
                                        method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
                                        class="validate form form-inline" target="_blank" novalidate>
                                        <div class="mc-field-group">
                                            <input type="email" value="" placeholder="آدرس ایمیل خود را وارد کنید"
                                                name="EMAIL" class="required email" id="mce-EMAIL">
                                            <input type="submit" value="ارسال" name="subscribe"
                                                id="mc-embedded-subscribe" class="btn btn-primary">
                                        </div>
                                        <div id="mce-responses" class="clear">
                                            <div class="response" id="mce-error-response" style="display:none"></div>
                                            <div class="response" id="mce-success-response" style="display:none"></div>
                                        </div>

                                    </form>
                                </div>
                                <!--End mc_embed_signup-->
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- /upper footer -->
            <!-- /newsletters -->


            <!--  = Middle footer =  -->
            <div class="foot-dark">
                <div class="container">
                    <div class="row">

                        <!--  = Menu 1 =  -->
                        <div class="span3">
                            <div class="main-titles lined">
                                <h3 class="title"><span class="light">فهرست</span> اصلی</h3>
                            </div>
                            <ul class="nav bold">
                                <li><a href="#">خانه</a></li>
                                <li><a href="#">صفحات</a></li>
                                <li><a href="#">درباره ما</a></li>
                                <li><a href="#">قوانین</a></li>
                                <li><a href="#">تماس با ما</a></li>
                            </ul>
                        </div>

                        <!--  = Menu 2 =  -->
                        <div class="span3">
                            <div class="main-titles lined">
                                <h3 class="title"><span class="light"></span>فهرست</span> دوم</h3>
                            </div>
                            <ul class="nav">
                                <li><a href="#">مطلب اول وبلاگ</a></li>
                                <li><a href="#">مطلب دوم وبلاگ</a></li>
                                <li><a href="#">مطلب سوم وبلاگ</a></li>
                                <li><a href="#">مطلب چهارم وبلاگ</a></li>
                                <li><a href="#">مطلب پنجم وبلاگ</a></li>
                            </ul>
                        </div>

                        <!--  = Menu 3 =  -->
                        <div class="span3">
                            <div class="main-titles lined">
                                <h3 class="title"><span class="light">فهرست</span> سوم</h3>
                            </div>
                            <ul class="nav">
                                <li><a href="#">محصول اول فروشگاه</a></li>
                                <li><a href="#">محصول دوم فروشگاه</a></li>
                                <li><a href="#">محصول سوم فروشگاه</a></li>
                                <li><a href="#">محصول چهارم فروشگاه</a></li>
                                <li><a href="#">محصول پنجم فروشگاه</a></li>
                            </ul>
                        </div>

                        <!--  = Menu 4 =  -->
                        <div class="span3">
                            <div class="main-titles lined">
                                <h3 class="title"><span class="light">فهرست</span> چهارم</h3>
                            </div>
                            <ul class="nav">
                                <li><a href="#">لینک های مفید</a></li>
                                <li><a href="#">انتقادات و پیشنهادات</a></li>
                                <li><a href="#">ناشران</a></li>
                                <li><a href="#">آموزش های مفید</a></li>
                                <li><a href="#">استخدام</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div> <!-- /middle footer -->


            <!--  = Bottom Footer =  -->
            <div class="foot-last">
                <a href="#" id="toTheTop">
                    <span class="fa fa-chevron-up"></span>
                </a>
                <div class="container">
                    <div class="row">
                        <div class="span6">
                            &copy; تمام حقوق این قالب برای سیترانت محفوظ می‌باشد.
                        </div>
                        <div class="span6">
                            <div class="pull-right">طراحی شده با <i class="fas fa-heart"></i> و <i
                                    class="fas fa-coffee"></i>
                                <a href="#"> | قالب HTML بوکا</a></div>
                        </div>
                    </div>
                </div>
            </div> <!-- /bottom footer -->
        </footer> <!-- /footer -->

        <!-- = Coding = -->
        <!--  = Modal Windows =  -->
        <!--  = Login =  -->
        <div id="loginModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel"
            aria-hidden="true">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="loginModalLabel"><span class="light">ورود</span> به بوکا</h3>
            </div>
            <div class="modal-body">
                <form method="post" action="#">
                    <div class="control-group">
                        <label class="control-label hidden shown-ie8" for="inputEmail">نام کاربری</label>
                        <div class="controls">
                            <input type="text" class="input-block-level" id="inputEmail"
                                placeholder="نام کاربری یا ایمیل">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label hidden shown-ie8" for="inputPassword">رمز عبور</label>
                        <div class="controls">
                            <input type="password" class="input-block-level" id="inputPassword" placeholder="رمز عبور">
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <label class="checkbox">
                                <input type="checkbox">
                                مرا به خاطر بسپار
                            </label>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary input-block-level bold higher">
                        ورود
                    </button>
                </form>
                <p class="center-align push-down-0">
                    <a href="#" data-dismiss="modal">رمز عبورتان را فراموش کرده اید؟</a>
                </p>
            </div>
        </div>

        <!--  = Register =  -->
        <div id="registerModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="registerModalLabel"
            aria-hidden="true">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="registerModalLabel"><span class="light">ثبت نام</span> در بوکا</h3>
            </div>
            <div class="modal-body">
                <form method="post" action="#">
                    <div class="control-group">
                        <label class="control-label hidden shown-ie8" for="inputUsernameRegister">نام کاربری</label>
                        <div class="controls">
                            <input type="text" class="input-block-level" id="inputUsernameRegister"
                                placeholder="نام کاربری">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label hidden shown-ie8" for="inputEmailRegister">ایمیل</label>
                        <div class="controls">
                            <input type="email" class="input-block-level" id="inputEmailRegister" placeholder="ایمیل">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label hidden shown-ie8" for="inputPasswordRegister">رمز عبور</label>
                        <div class="controls">
                            <input type="password" class="input-block-level" id="inputPasswordRegister"
                                placeholder="رمز عبور">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-danger input-block-level bold higher">
                        ثبت نام
                    </button>
                </form>
                <p class="center-align push-down-0">
                    <a data-toggle="modal" role="button" href="#loginModal" data-dismiss="modal">قبلا ثبت نام کرده
                        اید؟</a>
                </p>

            </div>
        </div>


    </div> <!-- end of master-wrapper -->



    <!--  = JavaScript =  -->
    <script src="assets/js/jquery.min.js" type="text/javascript"></script>
    <script src="assets/js/underscore/underscore-min.js" type="text/javascript"></script>
    <script src="assets/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="fonts/fontawesome/js/all.min.js" type="text/javascript"></script>
    <script src="assets/js/rs-plugin/pluginsources/jquery.themepunch.plugins.min.js" type="text/javascript"></script>
    <script src="assets/js/rs-plugin/js/jquery.themepunch.revolution.min.js" type="text/javascript"></script>
    <script src="assets/js/jquery.carouFredSel-6.2.1-packed.js" type="text/javascript"></script>
    <script src="assets/js/jquery-ui-1.10.3/js/jquery-ui-1.10.3.custom.min.js" type="text/javascript"></script>
    <script src="assets/js/jquery-ui-1.10.3/touch-fix.min.js" type="text/javascript"></script>
    <script src="assets/js/isotope/jquery.isotope.min.js" type="text/javascript"></script>
    <script src="assets/js/bootstrap-tour/build/js/bootstrap-tour.min.js" type="text/javascript"></script>
    <script src="assets/js/prettyphoto/js/jquery.prettyPhoto.js" type="text/javascript"></script>
    <script src="assets/js/custom.js" type="text/javascript"></script>

</body>

</html>