<!DOCTYPE html>
<html class="no-js" lang="fa">

<head>
    <meta charset="utf-8">
    <title>قالب HTML فروشگاهی بوکا</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="HTML Store Template">
    <meta name="author" content="Sitranet HTML Themes">

    <!-- StyleSheet -->
    <link href="assets/css/bootstrap.css" type="text/css" rel="stylesheet">
    <link href="assets/js/rs-plugin/css/settings.css" type="text/css" rel="stylesheet" />
    <link href="assets/js/jquery-ui-1.10.3/css/smoothness/jquery-ui-1.10.3.custom.min.css" type="text/css"
        rel="stylesheet" />
    <link href="assets/js/prettyphoto/css/prettyPhoto.css" type="text/css" rel="stylesheet" />
    <link href="fonts/fontawesome/css/all.min.css" type="text/css" rel="stylesheet" />
    <link href="assets/css/main.css" type="text/css" rel="stylesheet">
    <link href="assets/css/responsive.css" type="text/css" rel="stylesheet">

    <!-- JS -->
    <script src="assets/js/modernizr.custom.56918.js"></script>

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/apple-touch/144.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/apple-touch/114.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/apple-touch/72.png">
    <link rel="apple-touch-icon-precomposed" href="images/apple-touch/57.png">
    <link rel="shortcut icon" href="images/apple-touch/57.png">
</head>

<body class=" checkout-page">
    <div class="master-wrapper">

        <div class="container">
            <div class="row">
                <!--  = Main content =  -->
                <section class="span12">

                    <div class="checkout-container">
                        <div class="row">
                            <div class="span10 offset1">

                                <!--  = Header =  -->
                                <header>
                                    <div class="row">
                                        <div class="span2">
                                            <a href="index.html"><img src="images/logo-checkout.png" alt="Booka Logo"
                                                    title="صفحه اصلی سایت" width="48" height="48" loading="lazy" /></a>
                                        </div>
                                        <div class="span6">
                                            <div class="center-align">
                                                <h1><span class="light">انتخاب</span> شيوه پرداخت</h1>
                                            </div>
                                        </div>
                                        <div class="span2">
                                            <div class="right-align">
                                                <img src="images/buttons/security.jpg" alt="Security Sign" width="92"
                                                    height="65" loading="lazy" />
                                            </div>
                                        </div>
                                    </div>
                                </header>

                                <!--  = Steps =  -->
                                <div class="checkout-steps">
                                    <div class="clearfix">
                                        <div class="step done">
                                            <div class="step-badge"><i class="fa fa-check"></i></div>
                                            <a href="checkout-step-1.html">سبد خريد</a>
                                        </div>
                                        <div class="step done">
                                            <div class="step-badge"><i class="fa fa-check"></i></div>
                                            <a href="checkout-step-2.html">آدرس ارسال</a>
                                        </div>
                                        <div class="step active">
                                            <div class="step-badge">3</div>
                                            شيوه پرداخت
                                        </div>
                                        <div class="step">
                                            <div class="step-badge">4</div>
                                            تاييد و پرداخت
                                        </div>
                                    </div>
                                </div> <!-- /steps -->

                                <!--  = Payment =  -->
                                <span class="btn btn-danger circle pull-left"><i class="fa fa-chevron-down"></i></span>
                                <div class="shifted-left-45 clearfix">
                                    <h3 class="no-margin"><span class="light">نحوه</span> پرداخت</h3>
                                    <p class="push-down-30">تمام کارت‌های عضو شتاب قابل قبول هستند.</p>

                                    <form>
                                        <input type="radio" id="cash" name="fav_language" value="cash">
                                        <img src="images/buttons/wallet-money.svg" width="32px" height="32px"
                                            loading="lazy" />
                                        <label for="cash">پرداخت نقدی</label><br>
                                        <input type="radio" id="online" name="fav_language" value="online">
                                        <img src="images/buttons/payment.svg" width="32px" height="32px"
                                            loading="lazy" />
                                        <label for="online">پرداخت آنلاین</label><br>
                                        <input type="radio" id="offline" name="fav_language" value="offline">
                                        <img src="images/buttons/pouz.svg" width="32px" height="32px" loading="lazy" />
                                        <label for="offline">پرداخت در محل</label>
                                    </form>
                                </div>

                                <hr />

                                <span class="btn btn-danger circle pull-left"><i class="fa fa-chevron-down"></i></span>
                                <div class="shifted-left-45 clearfix pay-bank">
                                    <h3 class="no-margin">
                                        <p>درگاه پرداخت</p>
                                        <span class="light">یکی از درگاه های پرداخت را انتخاب کنید.</span </h3> <form>
                                        <input type="radio" id="mellat" name="fav_language" value="mellat">
                                        <img src="images/buttons/mellat.svg" width="32px" height="32px"
                                            loading="lazy" />
                                        <label for="mellat">بانک ملت</label><br>
                                        <input type="radio" id="tejarat" name="fav_language" value="tejarat">
                                        <img src="images/buttons/tejarat.svg" width="32px" height="32px"
                                            loading="lazy" />
                                        <label for="tejarat">بانک تجارت</label><br>
                                        <input type="radio" id="zarinpal" name="fav_language" value="zarinpal">
                                        <img src="images/buttons/zarinpal.svg" width="32px" height="32px"
                                            loading="lazy" />
                                        <label for="zarinpal">زرین پال</label>
                                        </form>
                                </div>

                                <hr />

                                <p class="right-align">
                                    در مرحله بعدي شما قادر هستيد سفارشتان را بازبيني کرده و آن را تاييد کنيد
                                    <a href="checkout-step-4.html " class="btn btn-primary higher bold">ادامه</a>
                                </p>


                            </div>
                        </div>
                    </div>


                </section> <!-- /main content -->

            </div>
        </div> <!-- /container -->
    </div> <!-- end of master-wrapper -->

    <!--  = JavaScript =  -->
    <script src="assets/js/jquery.min.js" type="text/javascript"></script>
    <script src="assets/js/underscore/underscore-min.js" type="text/javascript"></script>
    <script src="assets/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="fonts/fontawesome/js/all.min.js" type="text/javascript"></script>
    <script src="assets/js/rs-plugin/pluginsources/jquery.themepunch.plugins.min.js" type="text/javascript"></script>
    <script src="assets/js/rs-plugin/js/jquery.themepunch.revolution.min.js" type="text/javascript"></script>
    <script src="assets/js/jquery.carouFredSel-6.2.1-packed.js" type="text/javascript"></script>
    <script src="assets/js/jquery-ui-1.10.3/js/jquery-ui-1.10.3.custom.min.js" type="text/javascript"></script>
    <script src="assets/js/jquery-ui-1.10.3/touch-fix.min.js" type="text/javascript"></script>
    <script src="assets/js/isotope/jquery.isotope.min.js" type="text/javascript"></script>
    <script src="assets/js/bootstrap-tour/build/js/bootstrap-tour.min.js" type="text/javascript"></script>
    <script src="assets/js/prettyphoto/js/jquery.prettyPhoto.js" type="text/javascript"></script>
    <script src="assets/js/custom.js" type="text/javascript"></script>

</body>

</html>