<!DOCTYPE html>
<html class="no-js" lang="fa">

<head>
	<meta charset="utf-8">
	<title>قالب HTML فروشگاهی بوکا</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="HTML Store Template">
	<meta name="author" content="Sitranet HTML Themes">

	<!-- StyleSheet -->
	<link href="assets/css/bootstrap.css" type="text/css" rel="stylesheet">
	<link href="assets/js/rs-plugin/css/settings.css" type="text/css" rel="stylesheet" />
	<link href="assets/js/jquery-ui-1.10.3/css/smoothness/jquery-ui-1.10.3.custom.min.css" type="text/css"
		rel="stylesheet" />
	<link href="assets/js/prettyphoto/css/prettyPhoto.css" type="text/css" rel="stylesheet" />
	<link href="fonts/fontawesome/css/all.min.css" type="text/css" rel="stylesheet" />
	<link href="assets/css/main.css" type="text/css" rel="stylesheet">
	<link href="assets/css/responsive.css" type="text/css" rel="stylesheet">

	<!-- JS -->
	<script src="assets/js/jquery.min.js" type="text/javascript"></script>
	<script src="assets/js/prettyphoto/js/jquery.prettyPhoto.js" type="text/javascript"></script>
	<script src="assets/js/custom.js" type="text/javascript"></script>
	<script src="assets/js/modernizr.custom.56918.js"></script>

	<!-- Fav and touch icons -->
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/apple-touch/144.png">
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/apple-touch/114.png">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/apple-touch/72.png">
	<link rel="apple-touch-icon-precomposed" href="images/apple-touch/57.png">
	<link rel="shortcut icon" href="images/apple-touch/57.png">
</head>


<body class="single-shop">

	<div class="master-wrapper">

		<!--  = Header =  -->
		<header id="header">
			<div class="container">
				<div class="row">

					<!--  = Logo =  -->
					<div class="span7">
						<a class="brand" href="index.html">
							<img src="images/logo.png" alt="Logo" width="48" height="48" loading="lazy" />
						</a>
					</div>

					<!--  = Languages & Social Icons =  -->
					<div class="span5">
						<div class="topmost-line">
							<!-- = Languages = -->
							<div class="lang-currency">
								<div class="dropdown js-selectable-dropdown flag-country">
									<a data-toggle="dropdown" class="selected" href="#">
										<span class="js-change-text">
											<i class="famfamfam-flag-gb"></i> انگلیسی (EN)</span> <b class="caret"></b>
									</a>
									<!-- for all available country flags look the styles in assets/lib/components/_flags.scss -->
									<ul class="dropdown-menu js-possibilities" role="menu" aria-labelledby="dLabel">
										<li><a href="#"><i class="famfamfam-flag-gb"></i> انگلیسی (EN)</a></li>
										<li><a href="#"><i class="famfamfam-flag-si"></i> اسلوانیایی (SI)</a></li>
										<li><a href="#"><i class="famfamfam-flag-de"></i> آلمانی (DE)</a></li>
										<li><a href="#"><i class="famfamfam-flag-fr"></i> فرانسوی (FR)</a></li>
										<li><a href="#"><i class="famfamfam-flag-es"></i> اسپانیولی (ES)</a></li>
									</ul>
								</div>
								<div class="dropdown js-selectable-dropdown symbol">
									<a data-toggle="dropdown" class="selected" href="#">
										<span class="js-change-text">USD ($)</span>
										<b class="caret"></b>
									</a>
									<ul class="dropdown-menu js-possibilities" role="menu" aria-labelledby="dLabel">
										<li><a href="#">USD ($)</a></li>
										<li><a href="#">EUR (€)</a></li>
										<li><a href="#">YEN (¥)</a></li>
										<li><a href="#">GBP (£)</a></li>
									</ul>
								</div>
							</div>
						</div> <!-- = /Languages = -->


						<!-- = Social Icons = -->
						<div class="top-right">
							<div class="icons">
								<a href="https://www.facebook.com/" target="_blank" rel="nofollow"><i
										class="fab fa-facebook"></i></a>
								<a href="https://wa.me/+981234567" target="_blank" rel="nofollow"><i
										class="fab fa-whatsapp"></i></a>
								<a href="https://twitter.com/" target="_blank" rel="nofollow"><i
										class="fab fa-twitter"></i></a>
								<a href="https://t.me/" target="_blank" rel="nofollow"><i
										class="fab fa-telegram"></i></a>
								<a href="https://www.instagram.com" target="_blank" rel="nofollow"><i
										class="fab fa-instagram"></i></a>
							</div>

							<div class="register">
								<a href="#loginModal" role="button" data-toggle="modal">ورود</a> |
								<a href="#registerModal" role="button" data-toggle="modal">ثبت نام</a>
							</div>
						</div>
					</div> <!-- /social icons -->
				</div>
			</div>
		</header>

		<!--  = Main Menu / navbar =  -->
		<div class="navbar navbar-static-top" id="stickyNavbar">
			<div class="navbar-inner">
				<div class="container">
					<div class="row">
						<div class="span9">
							<button type="button" class="btn btn-navbar" data-toggle="collapse"
								data-target=".nav-collapse">
								<span class="fas fa-bars"></span>
							</button>

							<!--  = Menu =  -->
							<div class="nav-collapse collapse">
								<ul class="nav" id="mainNavigation">
									<li class="active">
										<a href="index.html"> صفحه اصلی</a>
									</li>

									<li class="dropdown">
										<a href="shop.html" class="dropdown-toggle"> فروشگاه <b class="caret"></b> </a>
										<ul class="dropdown-menu">
											<li><a href="shop.html">قالب پیش فرض</a></li>
											<li><a href="shop-no-sidebar.html">تمام صفحه</a></li>
											<li><a href="single-product.html">محصول تکی</a></li>
										</ul>
									</li>
									<li class="dropdown">
										<a href="blog.html" class="dropdown-toggle">بلاگ <b class="caret"></b> </a>
										<ul class="dropdown-menu">
											<li><a href="blog.html">قالب پیش فرض</a></li>
											<li><a href="blog-single.html">تک نوشته</a></li>
											<li><a href="blog-search.html">نتایج جستجو</a></li>
										</ul>
									</li>

									<li class="dropdown">
										<a href="features.html" class="dropdown-toggle"> امکانات <b class="caret"></b>
										</a>
										<ul class="dropdown-menu">
											<li class="dropdown">
												<a href="checkout-step-1.html">
													<i class="fa fa-caret-left pull-right visible-desktop"></i> تسویه
													حساب</a>
												<ul class="dropdown-menu">
													<li><a href="checkout-step-1.html">مرحله اول</a></li>
													<li><a href="checkout-step-2.html">مرحله دوم</a></li>
													<li><a href="checkout-step-3.html">مرحله سوم</a></li>
													<li><a href="checkout-step-4.html">مرحله چهارم</a></li>
												</ul>
											</li>
											<li><a href="404.html">صفحه 404</a></li>

										</ul>
									</li>

									<li><a href="about-us.html">درباره ما</a></li>
									<li><a href="contact.html">تماس با ما</a></li>
								</ul>

								<!--  = Search form =  -->
								<form class="navbar-form pull-right" action="#" method="get">
									<button type="submit"><i class="fa fa-search"></i></button>
									<input type="text" class="span1" name="search" id="navSearchInput"
										placeholder="جستجو">
								</form>
							</div><!-- /.nav-collapse -->
						</div>

						<!--  = Cart =  -->
						<div class="span3">
							<div class="cart-container" id="cartContainer">
								<div class="cart">
									<p class="items">سبد خرید <span class="dark-clr">(3)</span></p>
									<a href="checkout-step-1.html" class="btn btn-danger">
										<i class="fas fa-shopping-cart"></i>
									</a>
								</div>
								<div class="open-panel">

									<div class="item-in-cart clearfix">
										<div class="image">
											<img src="images/dummy/cart-items/cart-item-1.jpg" width="124" height="124"
												alt="cart item" loading="lazy" />
										</div>
										<div class="desc">
											<strong><a href="single-product.html">کتاب Innovation Imperative نویسنده
													پائول هیل</a></strong>
											<span class="light-clr qty">
												تعداد : 1
												<a href="#" class="fas fa-trash-alt" title="حذف این کتاب"></a>
											</span>
										</div>
										<div class="price">
											<p>قیمت:</p>
											<strong>1000<span>تومان</span></strong>
										</div>
									</div>

									<div class="item-in-cart clearfix">
										<div class="image">
											<img src="images/dummy/cart-items/cart-item-2.jpg" width="124" height="124"
												alt="cart item" loading="lazy" />
										</div>
										<div class="desc">
											<strong><a href="single-product.html">کتاب The Verth of Asaph نویسنده
													هون</a></strong>
											<span class="light-clr qty">
												تعداد : 1
												<a href="#" class="fas fa-trash-alt" title="حذف این کتاب"></a>
											</span>
										</div>
										<div class="price">
											<p>قیمت:</p>
											<strong>1000<span>تومان</span></strong>
										</div>
									</div>

									<div class="item-in-cart clearfix">
										<div class="image">
											<img src="images/dummy/cart-items/cart-item-3.jpg" width="124" height="124"
												alt="cart item" loading="lazy" />
										</div>
										<div class="desc">
											<strong><a href="single-product.html">کتاب Dinner With Lisa نویسنده
													پرندرگاست</a></strong>
											<span class="light-clr qty">
												تعداد : 1
												<a href="#" class="fas fa-trash-alt" title="حذف این کتاب"></a>
											</span>
										</div>
										<div class="price">
											<p>قیمت:</p>
											<strong>1000<span>تومان</span></strong>
										</div>
									</div>

									<div class="summary">
										<div class="line">
											<div class="row-fluid">
												<div class="span6">هزینه ارسال :</div>
												<div class="span6 align-right">3000<span>تومان</span></div>
											</div>
										</div>
										<div class="line">
											<div class="row-fluid">
												<div class="span6">جمع کل :</div>
												<div class="span6 align-right size-16">6000<span>تومان</span></div>
											</div>
										</div>
									</div>
									<div class="proceed">
										<a href="checkout-step-1.html"
											class="btn btn-danger pull-right bold higher">تسویه حساب
										</a>
										<small>هزینه ارسال براساس منطقه جغرافیایی محاسبه میشود. <a href="#">اطلاعات
												بیشتر</a></small>
									</div>
								</div>
							</div>
						</div> <!-- /cart -->
					</div>
				</div>
			</div>
		</div> <!-- /main menu -->


		<!--  = Breadcrumbs =  -->
		<div class="darker-stripe">
			<div class="container">
				<div class="row">
					<div class="span12">
						<ul class="breadcrumb">
							<li>
								<a href="index.html">صفحه اصلی</a>
							</li>
							<li><span class="fa fa-chevron-left"></span></li>
							<li>
								<a href="shop.html">فروشگاه</a>
							</li>
							<li><span class="fa fa-chevron-left"></span></li>
							<li>
								<a href="single-product.html">محصول تکی</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<!--  = Main container =  -->
		<div class="container">
			<div class="push-up top-equal blocks-spacer">

				<!--  = Product =  -->
				<div class="row blocks-spacer">

					<!--  = Preview Images =  -->
					<div class="span5">
						<div class="product-preview">
							<div class="picture">
								<img src="images/dummy/products/product-1.jpg" alt="product" width="940" height="940"
									id="mainPreviewImg" loading="lazy" />
							</div>
							<div class="thumbs clearfix">
								<div class="thumb active">
									<a href="#mainPreviewImg"><img src="images/dummy/products/product-1.jpg"
											alt="product" width="940" height="940" loading="lazy" /></a>
								</div>
								<div class="thumb">
									<a href="#mainPreviewImg"><img src="images/dummy/products/product-2.jpg"
											alt="product" width="940" height="940" loading="lazy" /></a>
								</div>
								<div class="thumb">
									<a href="#mainPreviewImg"><img src="images/dummy/products/product-3.jpg"
											alt="product" width="940" height="940" loading="lazy" /></a>
								</div>
							</div>
						</div>
					</div>

					<!--  = Title and short desc =  -->
					<div class="span7">
						<div class="product-title">
							<h1 class="name"><span class="light">کتاب</span>The Mainstay - زندگی یک ذهن</h1>
							<div class="meta">
								<div class="tag">
									<p class="price">250000<span>تومان</span></p>
								</div>
								<div class="stock">
									<span class="btn btn-success">موجود</span>
									<span class="btn btn-danger">اتمام موجودی</span>
									<span class="btn btn-warning">تماس بگیرید</span>
								</div>

								<!--  = Variations form =  -->
								<form action="#" class="form form-inline clearfix">
									<select name="size" class="span2">
										<option value="-1">سایز کتاب</option>
										<option value="vaziri">وزیری</option>
										<option value="rahli">رحلی</option>
										<option value="raghie">رقعی</option>
									</select>
									<select name="publisher" class="span2">
										<option value="-1">انتخاب ناشر</option>
										<option value="p-one">ناشر یک</option>
										<option value="p-two">ناشر دو</option>
										<option value="p-three">ناشر سه</option>
										<option value="p-four">ناشر چهار</option>
										<option value="p-six">ناشر پنج</option>
									</select>
								</form>

								<div class="delivery-time">
									<p>زمان آماده سازی سفارش:<span class="light">3 روز کاری</span></p>
								</div>
							</div>
						</div>
						<div class="product-description">
							<p>لورم ایپسوم متنی است که ساختگی برای طراحی و چاپ آن مورد است. صنعت چاپ زمانی لازم بود
								شرایطی شما باید فکر ثبت نام و طراحی، لازمه خروج می باشد. در ضمن قاعده همفکری ها جوابگوی
								سئوالات زیاد شاید باشد، آنچنان که لازم بود طراحی گرافیکی خوب بود. کتابهای زیادی شرایط
								سخت ، دشوار و کمی در سالهای دور لازم است. هدف از این نسخه فرهنگ پس از آن و دستاوردهای
								خوب شاید باشد. حروفچینی لازم در شرایط فعلی لازمه تکنولوژی بود که گذشته، حال و آینده را
								شامل گردد. سی و پنج درصد از طراحان در قرن پانزدهم میبایست پرینتر در ستون و سطر حروف لازم
								است، بلکه شناخت این ابزار گاه اساسا بدون هدف بود و سئوالهای زیادی در گذشته بوجود می آید،
								تنها لازمه آن بود. </p>
							<hr />

							<div class="add-to-cart">
								<div class="input-group">
									<span class="input-group-btn">
										<button type="button" class="quantity-left-minus btn btn-danger btn-number"
											data-type="minus" data-field="">
											<span class="fa fa-minus"></span>
										</button>
									</span>
									<input type="text" id="quantity" name="quantity" class="form-control input-number"
										value="1" min="1" max="100">
									<span class="input-group-btn">
										<button type="button" class="quantity-right-plus btn btn-success btn-number"
											data-type="plus" data-field="">
											<span class="fa fa-plus"></span>
										</button>
									</span>
								</div>

								<button class="addtocart">
									<div class="pretext">
										<i class="fas fa-cart-plus"></i> افزودن به سبد خرید
									</div>

									<div class="pretext done">
										<div class="posttext"><i class="fas fa-check"></i> اضافه شد</div>
									</div>
								</button>

								<div class="wishlist">
									<a class="button one inactive mobile button--secondary">
										<div class="btn__effect">
											<svg class="heart-stroke icon-svg icon-svg--size-4 icon-svg--color-silver"
												viewBox="20 18 29 28" aria-hidden="true" focusable="false">
												<path
													d="M28.3 21.1a4.3 4.3 0 0 1 4.1 2.6 2.5 2.5 0 0 0 2.3 1.7c1 0 1.7-.6 2.2-1.7a3.7 3.7 0 0 1 3.7-2.6c2.7 0 5.2 2.7 5.3 5.8.2 4-5.4 11.2-9.3 15a2.8 2.8 0 0 1-2 1 3.4 3.4 0 0 1-2.2-1c-9.6-10-9.4-13.2-9.3-15 0-1 .6-5.8 5.2-5.8m0-3c-5.3 0-7.9 4.3-8.2 8.5-.2 3.2.4 7.2 10.2 17.4a6.3 6.3 0 0 0 4.3 1.9 5.7 5.7 0 0 0 4.1-1.9c1.1-1 10.6-10.7 10.3-17.3-.2-4.6-4-8.6-8.4-8.6a7.6 7.6 0 0 0-6 2.7 8.1 8.1 0 0 0-6.2-2.7z">
												</path>
											</svg>
											<svg class="heart-full icon-svg icon-svg--size-4 icon-svg--color-blue"
												viewBox="0 0 19.2 18.5" aria-hidden="true" focusable="false">
												<path
													d="M9.66 18.48a4.23 4.23 0 0 1-2.89-1.22C.29 10.44-.12 7.79.02 5.67.21 2.87 1.95.03 5.42.01c1.61-.07 3.16.57 4.25 1.76A5.07 5.07 0 0 1 13.6 0c2.88 0 5.43 2.66 5.59 5.74.2 4.37-6.09 10.79-6.8 11.5-.71.77-1.7 1.21-2.74 1.23z">
												</path>
											</svg>
											<svg class="broken-heart" xmlns="http://www.w3.org/2000/svg" width="48"
												height="16" viewBox="5.707 17 48 16">
												<g fill="#0090E3">
													<path class="broken-heart--left"
														d="M29.865 32.735V18.703a4.562 4.562 0 0 0-3.567-1.476c-2.916.017-4.378 2.403-4.538 4.756-.118 1.781.227 4.006 5.672 9.737a3.544 3.544 0 0 0 2.428 1.025l-.008-.008.013-.002z" />
													<path class="broken-heart--right"
														d="M37.868 22.045c-.135-2.588-2.277-4.823-4.697-4.823a4.258 4.258 0 0 0-3.302 1.487l-.004-.003v14.035a3.215 3.215 0 0 0 2.289-1.033c.598-.596 5.882-5.99 5.714-9.663z" />
												</g>
												<path class="broken-heart--crack" fill="none" stroke="#FFF"
													stroke-miterlimit="10" d="M29.865 18.205v14.573" />
											</svg>
											<div class="effect-group">
												<span class="effect"></span>
												<span class="effect"></span>
												<span class="effect"></span>
												<span class="effect"></span>
												<span class="effect"></span>
											</div>
										</div>
									</a>
								</div>

							</div>

						</div>

						<hr />

						<!--  = Share buttons =  -->
						<div class="share-items">
							<div class="pull-right share">
								<a href="https://twitter.com/intent/tweet/?text=&amp;url=" target="_blank"
									rel="nofollow"><i class="fab fa-twitter"></i></a>
								<a href="https://facebook.com/sharer/sharer.php?u=" target="_blank" rel="nofollow"><i
										class="fab fa-facebook"></i></a>
								<a href="https://www.linkedin.com/shareArticle?mini=true&amp;url=&amp;title=&amp;summary=&amp;source="
									target="_blank" rel="nofollow"><i class="fab fa-linkedin"></i></a>
								<a href="https://t.me/share/url?url=" target="_blank" rel="nofollow"><i
										class="fab fa-telegram"></i></a>
								<a href="https://pinterest.com/pin/create/button/?url=&amp;media=&amp;description="
									target="_blank" rel="nofollow"><i class="fab fa-pinterest"></i></a>
								<a href="whatsapp://send?text=" target="_blank" rel="nofollow"><i
										class="fab fa-whatsapp"></i></a>
							</div>
							با دوستان خود به اشتراک بگذارید :
						</div>

					</div>
				</div>
			</div>

			<!--  = Tabs with more info =  -->
			<div class="row">
				<div class="span12">
					<ul id="myTab" class="nav nav-tabs">
						<li class="active">
							<a href="#tab-1" data-toggle="tab">معرفی کتاب</a>
						</li>
						<li>
							<a href="#tab-2" data-toggle="tab">مشخصات</a>
						</li>
						<li>
							<a href="#tab-3" data-toggle="tab">نظرات</a>
						</li>
						<li>
							<a href="#tab-4" data-toggle="tab">جزئیات ارسال</a>
						</li>
					</ul>
					<div class="tab-content">
						<div class="fade in tab-pane active" id="tab-1">
							<h3>توضیحات محصول</h3>
							<p>لورم ایپسوم متنی است که ساختگی برای طراحی و چاپ آن مورد است. صنعت چاپ زمانی لازم بود
								شرایطی شما باید فکر ثبت نام و طراحی، لازمه خروج می باشد. در ضمن قاعده همفکری ها جوابگوی
								سئوالات زیاد شاید باشد، آنچنان که لازم بود طراحی گرافیکی خوب بود. کتابهای زیادی شرایط
								سخت ، دشوار و کمی در سالهای دور لازم است. هدف از این نسخه فرهنگ پس از آن و دستاوردهای
								خوب شاید باشد. حروفچینی لازم در شرایط فعلی لازمه تکنولوژی بود که گذشته، حال و آینده را
								شامل گردد. سی و پنج درصد از طراحان در قرن پانزدهم میبایست پرینتر در ستون و سطر حروف لازم
								است، بلکه شناخت این ابزار گاه اساسا بدون هدف بود و سئوالهای زیادی در گذشته بوجود می آید،
								تنها لازمه آن بود. </p>
							<p>لورم ایپسوم متنی است که ساختگی برای طراحی و چاپ آن مورد است. صنعت چاپ زمانی لازم بود
								شرایطی شما باید فکر ثبت نام و طراحی، لازمه خروج می باشد. در ضمن قاعده همفکری ها جوابگوی
								سئوالات زیاد شاید باشد، آنچنان که لازم بود طراحی گرافیکی خوب بود. کتابهای زیادی شرایط
								سخت ، دشوار و کمی در سالهای دور لازم است. هدف از این نسخه فرهنگ پس از آن و دستاوردهای
								خوب شاید باشد. حروفچینی لازم در شرایط فعلی لازمه تکنولوژی بود که گذشته، حال و آینده را
								شامل گردد. سی و پنج درصد از طراحان در قرن پانزدهم میبایست پرینتر در ستون و سطر حروف لازم
								است، بل</p>
							<h1>سرخط H1 30px</h1>
							<h2>سرخط H2 26px</h2>
							<h3>سرخط H3 20px</h3>
							<h4>سرخط H4 18px</h4>
							<h5>سرخط H5 15px</h5>
							<p>لورم ایپسوم متنی است که ساختگی برای طراحی و چاپ آن مورد است. صنعت چاپ زمانی لازم بود
								شرایطی شما باید فکر ثبت نام و طراحی، لازمه خروج می باشد. در ضمن قاعده همفکری ها جوابگوی
								سئوالات زیاد شاید باشد، آنچنان که لازم بود طراحی گرافیکی خوب بود. کتابهای زیادی شرایط
								سخت ، دشوار و کمی در سالهای دور لازم است. </p>
						</div>
						<div class="fade tab-pane" id="tab-2">
							<table class="product-information">
								<tr class="info-top">
									<td>نویسنده</td>
									<td>شابک</td>
									<td>رده بندی کتاب</td>
									<td>قطع (سایز)</td>
									<td>نوع جلد</td>
									<td>تعداد صفحه</td>
									<td>سایر توضیحات</td>
								</tr>

								<tr class="info-bottom">
									<td>ویکتور فرانکل</td>
									<td>21584586589210125</td>
									<td>فلسفه و روانشناسی</td>
									<td>رقعی</td>
									<td>شومیز</td>
									<td>116</td>
									<td id="textarea">
										<p>جزو پرفروش ترین کتاب ها و رمان های ایران جزو فهرست کتاب هایی که زندگی تان را
											دگرگون خواهند کرد</p>
										<p>بهترین کتاب از نظر مردم</p>
										<p>دارای فایل pdf و صوت</p>
									</td>

								</tr>
							</table>
						</div>
						<div class="fade tab-pane" id="tab-3">
							<div class="form-box">
								<div class="content">
									<div id="respond">
										<h3>دیدگاه خریداران</h3>
										<p>از اینکه نظر خود را در مورد این محصول با ما در میان می‌گذارید، از شما
											سپاسگزاریم.</p>
										<form id="commentForm" method="post" class="cmxform">
											<div class="commentfields">
												<label class="name">نام <span>*</span></label>
												<input name="name" id="cname" class="comment-input required"
													type="text">
											</div>
											<div class="commentfields">
												<label class="email">ایمیل <span>*</span></label>
												<input name="email" id="cemail" class="comment-input required email"
													type="text">
											</div>
											<div class="commentfields">
												<label>متن پیام <span>*</span></label>
												<textarea id="ccomment" class="comment-textarea required"
													name="comment"></textarea>
											</div>
											<div class="commentfields">
												<input class="commentbtn" type="submit" value="ارسال دیدگاه">
											</div>
										</form>
									</div>
								</div>

								<div class="rating-product">
									<h3>امتیاز دهید</h3>
									<div class="rating">
										<input type="radio" name="rating" value="5" id="5">
										<label for="5">☆</label>
										<input type="radio" name="rating" value="4" id="4">
										<label for="4">☆</label>
										<input type="radio" name="rating" value="3" id="3">
										<label for="3">☆</label>
										<input type="radio" name="rating" value="2" id="2">
										<label for="2">☆</label>
										<input type="radio" name="rating" value="1" id="1">
										<label for="1">☆</label>
									</div>

									<hr>
									<div class="suggestion-button">
										<h3>خرید این کتاب را برای دیگران</h3>
										<input type="radio" id="radio-1" name="radio">
										<label class="radio-suggest" for="radio-1">
											<i class="fas fa-thumbs-up"></i>
											<p>پیشنهاد می‌کنم</p>
										</label>

										<input type="radio" id="radio-2" name="radio">
										<label class="radio-suggest" for="radio-2">
											<i class="fas fa-hand-paper"></i>
											<p>مطمئن نیستم</p>
										</label>

										<input type="radio" id="radio-3" name="radio">
										<label class="radio-suggest" for="radio-3">
											<i class="fas fa-thumbs-down"></i>
											<p>پیشنهاد نمی‌کنم</p>
										</label>
									</div>
								</div>
							</div>


							<div class="content com">
								<h2>نظرات شما</h2>
								<div id="reader">
									<ol>
										<li>
											<div class="comment_box">
												<div class="image_comment">
													<img src="images/dummy/avatars/avatar-1.jpg" alt="avatar"
														loading="lazy">
												</div>
												<div class="inside_comment">
													<div class="comment-meta">
														<p class="commentsuser">صابر افشاری</p>
														<p class="comment_date">25 بهمن 1400</p>
														<p class="comment_publisher"><i class="fas fa-book-open"></i>
															ناشر اول</p>
														<p class="comment_suggest-green"><i
																class="fas fa-thumbs-up"></i> پیشنهاد می‌کنم</p>
													</div>
												</div>
												<div class="comment-body">
													<p>
														لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
														استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله
														در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد
														نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
													</p>
												</div>
											</div>
										</li>

										<li>
											<div class="comment_box">
												<div class="image_comment">
													<img src="images/dummy/avatars/avatar-2.jpg" alt="avatar"
														loading="lazy">
												</div>
												<div class="inside_comment">
													<div class="comment-meta">
														<p class="commentsuser">صابر افشاری</p>
														<p class="comment_date">26 بهمن 1400</p>
														<p class="comment_publisher"><i class="fas fa-book-open"></i>
															ناشر دوم</p>
														<p class="comment_suggest-yellow"><i
																class="fas fa-hand-paper"></i> مطمئن نیستم</p>
													</div>
												</div>
												<div class="comment-body">
													<p>
														لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
														استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله
														در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد
														نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
													</p>
												</div>
											</div>
										</li>

										<li>
											<div class="comment_box">
												<div class="image_comment">
													<img src="images/dummy/avatars/avatar-4.jpg" alt="avatar"
														loading="lazy">
												</div>
												<div class="inside_comment">
													<div class="comment-meta">
														<p class="commentsuser">صابر افشاری</p>
														<p class="comment_date">27 بهمن 1400</p>
														<p class="comment_publisher"><i class="fas fa-book-open"></i>
															ناشر سوم</p>
														<p class="comment_suggest-red"><i
																class="fas fa-thumbs-down"></i> پیشنهاد نمی‌کنم</p>
													</div>
												</div>
												<div class="comment-body">
													<p>
														لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
														استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله
														در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد
														نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
													</p>
												</div>
											</div>
										</li>
									</ol>
								</div>
							</div>

						</div>

						<div class="fade tab-pane" id="tab-4">
							<p>
								لورم ایپسوم متنی است که ساختگی برای طراحی و چاپ آن مورد است. صنعت چاپ زمانی لازم بود
								شرایطی شما باید فکر ثبت نام و طراحی، لازمه خروج می باشد. در ضمن قاعده همفکری ها جوابگوی
								سئوالات زیاد شاید باشد، آنچنان که لازم بود طراحی گرافیکی خوب بود. کتابهای زیادی شرایط
								سخت ، دشوار و کمی در سالهای دور لازم است. هدف از این نسخه فرهنگ پس از آن و دستاوردهای
								خوب شاید باشد. حروفچینی لازم در شرایط فعلی لازمه تکنولوژی بود که گذشته، حال و آینده را
								شامل گردد. سی و پنج درصد از طراحان در قرن پانزدهم میبایست پرینتر در ستون و سطر حروف لازم
								است، بلکه شناخت این ابزار گاه اساسا بدون هدف بود و سئوالهای زیادی در گذشته بوجود می آید،
								تنها لازمه آن بود...
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div> <!-- /container -->

	<!--  = Related Products =  -->
	<div class="boxed-area no-bottom">
		<div class="container">

			<!--  = Title =  -->
			<div class="row">
				<div class="span12">
					<div class="main-titles lined">
						<h2 class="title"><span class="light">محصولات</span> مرتبط</h2>
					</div>
				</div>
			</div>

			<!--  = Related products =  -->
			<div class="row popup-products">

				<!--  = Products =  -->
				<div class="span3">
					<div class="product">
						<div class="product-img">
							<div class="picture">
								<img src="images/dummy/products/product-1.jpg" alt="realated" width="540" height="374"
									loading="lazy" />
								<div class="img-overlay">
									<a href="single-product.html" class="btn more btn-primary">توضیحات بیشتر</a>
									<a href="#" class="btn buy btn-danger">اضافه به سبد خرید</a>
								</div>
							</div>
						</div>
						<div class="main-titles no-margin">
							<a href="single-product.html">
								<h4 class="title">کتاب It's the Kids نویسنده مانوئل</h4>
							</a>
							<h5 class="price realated-price">105000<span>تومان</span></h5>
							<del class="price realated-price">125000<span>تومان</span></del>
						</div>
						<p class="desc">توضیحاتی که در مورد محصول لازم است را در اینجا مینویسید</p>
						<p class="center-align stars">
							<span class="fa fa-star stars-clr"></span>
							<span class="fa fa-star stars-clr"></span>
							<span class="fa fa-star stars-clr"></span>
							<span class="fa fa-star stars-clr"></span>
							<span class="fa fa-star"></span>
						</p>
					</div>
				</div> <!-- /product -->


				<!--  = Products =  -->
				<div class="span3">
					<div class="product">
						<div class="product-img">
							<div class="picture">
								<img src="images/dummy/products/product-2.jpg" alt="realated" width="540" height="374"
									loading="lazy" />
								<div class="img-overlay">
									<a href="single-product.html" class="btn more btn-primary">توضیحات بیشتر</a>
									<a href="#" class="btn buy btn-danger">اضافه به سبد خرید</a>
								</div>
							</div>
						</div>
						<div class="main-titles no-margin">
							<a href="single-product.html">
								<h4 class="title">کتاب It's the Kids نویسنده مانوئل</h4>
							</a>
							<h5 class="price realated-price">105000<span>تومان</span></h5>
							<del class="price realated-price">125000<span>تومان</span></del>
						</div>
						<p class="desc">توضیحاتی که در مورد محصول لازم است را در اینجا مینویسید</p>
						<p class="center-align stars">
							<span class="fa fa-star stars-clr"></span>
							<span class="fa fa-star stars-clr"></span>
							<span class="fa fa-star stars-clr"></span>
							<span class="fa fa-star stars-clr"></span>
							<span class="fa fa-star"></span>
						</p>
					</div>
				</div> <!-- /product -->


				<!--  = Products =  -->
				<div class="span3">
					<div class="product">
						<div class="product-img">
							<div class="picture">
								<img src="images/dummy/products/product-3.jpg" alt="realated" width="540" height="374"
									loading="lazy" />
								<div class="img-overlay">
									<a href="single-product.html" class="btn more btn-primary">توضیحات بیشتر</a>
									<a href="#" class="btn buy btn-danger">اضافه به سبد خرید</a>
								</div>
							</div>
						</div>
						<div class="main-titles no-margin">
							<a href="single-product.html">
								<h4 class="title">کتاب It's the Kids نویسنده مانوئل</h4>
							</a>
							<h5 class="price realated-price">105000<span>تومان</span></h5>
							<del class="price realated-price">125000<span>تومان</span></del>
						</div>
						<p class="desc">توضیحاتی که در مورد محصول لازم است را در اینجا مینویسید</p>
						<p class="center-align stars">
							<span class="fa fa-star stars-clr"></span>
							<span class="fa fa-star stars-clr"></span>
							<span class="fa fa-star stars-clr"></span>
							<span class="fa fa-star stars-clr"></span>
							<span class="fa fa-star"></span>
						</p>
					</div>
				</div> <!-- /product -->

				<!--  = Products =  -->
				<div class="span3">
					<div class="product">
						<div class="product-img">
							<div class="picture">
								<img src="images/dummy/products/product-7.jpg" alt="realated" width="540" height="374"
									loading="lazy" />
								<div class="img-overlay">
									<a href="single-product.html" class="btn more btn-primary">توضیحات بیشتر</a>
									<a href="#" class="btn buy btn-danger">اضافه به سبد خرید</a>
								</div>
							</div>
						</div>
						<div class="main-titles no-margin">
							<a href="single-product.html">
								<h4 class="title">کتاب It's the Kids نویسنده مانوئل</h4>
							</a>
							<h5 class="price realated-price">105000<span>تومان</span></h5>
							<del class="price realated-price">125000<span>تومان</span></del>
						</div>
						<p class="desc">توضیحاتی که در مورد محصول لازم است را در اینجا مینویسید</p>
						<p class="center-align stars">
							<span class="fa fa-star stars-clr"></span>
							<span class="fa fa-star stars-clr"></span>
							<span class="fa fa-star stars-clr"></span>
							<span class="fa fa-star stars-clr"></span>
							<span class="fa fa-star"></span>
						</p>
					</div>
				</div> <!-- /product -->


			</div>
		</div>
	</div>

	<!--  = Footer =  -->
	<footer>
		<!--  = Upper footer =  -->
		<div class="foot-light">
			<div class="container">
				<div class="row">
					<div class="span4">
						<a href="index.html"><img src="images/logo-white.png" alt="white logo" class="align-baseline"
								loading="lazy" /></a>
						<p>این یک نوشته آزمایشی است. شما میتوانید این قسمت را با نوشته های دلخواه خود که مناسب این
							ناحیه باشند پر نمایید. ما این بخش را با نوشته هایی بی معنی پر کرده ایم.</p>
					</div>
					<div class="span4 social-network">
						<div class="main-titles lined widget-title">
							<h3 class="title">ما را دنبال کنید</h3>
						</div>
						<div class="widget-content">
							<a href="https://www.fb.com" class="fb" target="_blank" rel="nofollow">
								<i class="fab fa-facebook-f"></i><span>فیسبوک</span>
							</a>
							<a href="https://www.twitter.com" class="tw" target="_blank" rel="nofollow">
								<i class="fab fa-twitter"></i><span>توئیتر</span>
							</a>
							<a href="https://www.instagram.com" class="ig" target="_blank" rel="nofollow">
								<i class="fab fa-instagram"></i><span>اینستاگرام</span>
							</a>
							<a href="https://t.me" class="tg" target="_blank" rel="nofollow">
								<i class="fab fa-telegram-plane"></i><span>تلگرام</span>
							</a>
							<a href="https://www.youtube.com" class="yt" target="_blank" rel="nofollow">
								<i class="fab fa-youtube-square"></i><span>یوتیوب</span>
							</a>
							<a href="https://www.pinterest.com" class="pn" target="_blank" rel="nofollow">
								<i class="fab fa-pinterest-p"></i><span>پینترست</span>
							</a>
							<a href="https://www.linkedin.com/in/" class="in" target="_blank" rel="nofollow">
								<i class="fab fa-linkedin-in"></i><span>لینکداین</span>
							</a>
							<a href="https://www.aparat.com" class="ap" target="_blank" rel="nofollow">
								<img src="images/aparat.svg" class="aparat" width="60px" height="60px" alt="aparat"
									loading="lazy" />
								<span>آپارات</span>
							</a>
						</div>
					</div>

					<!-- = newsletters = -->
					<div class="span4 newsletters">
						<div class="main-titles lined widget-title">
							<h3 class="title"><span class="light">عضویت</span> در خبرنامه</h3>
						</div>
						<div class="widget-content">
							<p>این بخشی از یک نوشتار آزمایشی صرفا برای پر کردن این ناحیه است. جهت عضویت در خبرنامه ایمیل
								خود را وارد کنید.</p>
							<!-- Begin MailChimp Signup Form -->
							<div id="mc_embed_signup">
								<form
									action="http://proteusthemes.us4.list-manage1.com/subscribe/post?u=ea0786485977f5ec8c9283d5c&amp;id=5dad3f35e9"
									method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
									class="validate form form-inline" target="_blank" novalidate>
									<div class="mc-field-group">
										<input type="email" value="" placeholder="آدرس ایمیل خود را وارد کنید"
											name="EMAIL" class="required email" id="mce-EMAIL">
										<input type="submit" value="ارسال" name="subscribe" id="mc-embedded-subscribe"
											class="btn btn-primary">
									</div>
									<div id="mce-responses" class="clear">
										<div class="response" id="mce-error-response" style="display:none"></div>
										<div class="response" id="mce-success-response" style="display:none"></div>
									</div>

								</form>
							</div>
							<!--End mc_embed_signup-->
						</div>
					</div>
				</div>
			</div>
		</div> <!-- /upper footer -->
		<!-- /newsletters -->


		<!--  = Middle footer =  -->
		<div class="foot-dark">
			<div class="container">
				<div class="row">

					<!--  = Menu 1 =  -->
					<div class="span3">
						<div class="main-titles lined">
							<h3 class="title"><span class="light">فهرست</span> اصلی</h3>
						</div>
						<ul class="nav bold">
							<li><a href="#">خانه</a></li>
							<li><a href="#">صفحات</a></li>
							<li><a href="#">درباره ما</a></li>
							<li><a href="#">قوانین</a></li>
							<li><a href="#">تماس با ما</a></li>
						</ul>
					</div>

					<!--  = Menu 2 =  -->
					<div class="span3">
						<div class="main-titles lined">
							<h3 class="title"><span class="light"></span>فهرست</span> دوم</h3>
						</div>
						<ul class="nav">
							<li><a href="#">مطلب اول وبلاگ</a></li>
							<li><a href="#">مطلب دوم وبلاگ</a></li>
							<li><a href="#">مطلب سوم وبلاگ</a></li>
							<li><a href="#">مطلب چهارم وبلاگ</a></li>
							<li><a href="#">مطلب پنجم وبلاگ</a></li>
						</ul>
					</div>

					<!--  = Menu 3 =  -->
					<div class="span3">
						<div class="main-titles lined">
							<h3 class="title"><span class="light">فهرست</span> سوم</h3>
						</div>
						<ul class="nav">
							<li><a href="#">محصول اول فروشگاه</a></li>
							<li><a href="#">محصول دوم فروشگاه</a></li>
							<li><a href="#">محصول سوم فروشگاه</a></li>
							<li><a href="#">محصول چهارم فروشگاه</a></li>
							<li><a href="#">محصول پنجم فروشگاه</a></li>
						</ul>
					</div>

					<!--  = Menu 4 =  -->
					<div class="span3">
						<div class="main-titles lined">
							<h3 class="title"><span class="light">فهرست</span> چهارم</h3>
						</div>
						<ul class="nav">
							<li><a href="#">لینک های مفید</a></li>
							<li><a href="#">انتقادات و پیشنهادات</a></li>
							<li><a href="#">ناشران</a></li>
							<li><a href="#">آموزش های مفید</a></li>
							<li><a href="#">استخدام</a></li>
						</ul>
					</div>
				</div>
			</div>

		</div> <!-- /middle footer -->


		<!--  = Bottom Footer =  -->
		<div class="foot-last">
			<a href="#" id="toTheTop">
				<span class="fa fa-chevron-up"></span>
			</a>
			<div class="container">
				<div class="row">
					<div class="span6">
						&copy; تمام حقوق این قالب برای سیترانت محفوظ می‌باشد.
					</div>
					<div class="span6">
						<div class="pull-right">طراحی شده با <i class="fas fa-heart"></i> و <i
								class="fas fa-coffee"></i>
							<a href="#"> | قالب HTML بوکا</a></div>
					</div>
				</div>
			</div>
		</div> <!-- /bottom footer -->
	</footer> <!-- /footer -->

	<!-- = Coding = -->
	<!--  = Modal Windows =  -->
	<!--  = Login =  -->
	<div id="loginModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel"
		aria-hidden="true">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="loginModalLabel"><span class="light">ورود</span> به بوکا</h3>
		</div>
		<div class="modal-body">
			<form method="post" action="#">
				<div class="control-group">
					<label class="control-label hidden shown-ie8" for="inputEmail">نام کاربری</label>
					<div class="controls">
						<input type="text" class="input-block-level" id="inputEmail" placeholder="نام کاربری یا ایمیل">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label hidden shown-ie8" for="inputPassword">رمز عبور</label>
					<div class="controls">
						<input type="password" class="input-block-level" id="inputPassword" placeholder="رمز عبور">
					</div>
				</div>
				<div class="control-group">
					<div class="controls">
						<label class="checkbox">
							<input type="checkbox">
							مرا به خاطر بسپار
						</label>
					</div>
				</div>
				<button type="submit" class="btn btn-primary input-block-level bold higher">
					ورود
				</button>
			</form>
			<p class="center-align push-down-0">
				<a href="#" data-dismiss="modal">رمز عبورتان را فراموش کرده اید؟</a>
			</p>
		</div>
	</div>

	<!--  = Register =  -->
	<div id="registerModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="registerModalLabel"
		aria-hidden="true">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="registerModalLabel"><span class="light">ثبت نام</span> در بوکا</h3>
		</div>
		<div class="modal-body">
			<form method="post" action="#">
				<div class="control-group">
					<label class="control-label hidden shown-ie8" for="inputUsernameRegister">نام کاربری</label>
					<div class="controls">
						<input type="text" class="input-block-level" id="inputUsernameRegister"
							placeholder="نام کاربری">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label hidden shown-ie8" for="inputEmailRegister">ایمیل</label>
					<div class="controls">
						<input type="email" class="input-block-level" id="inputEmailRegister" placeholder="ایمیل">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label hidden shown-ie8" for="inputPasswordRegister">رمز عبور</label>
					<div class="controls">
						<input type="password" class="input-block-level" id="inputPasswordRegister"
							placeholder="رمز عبور">
					</div>
				</div>
				<button type="submit" class="btn btn-danger input-block-level bold higher">
					ثبت نام
				</button>
			</form>
			<p class="center-align push-down-0">
				<a data-toggle="modal" role="button" href="#loginModal" data-dismiss="modal">قبلا ثبت نام کرده
					اید؟</a>
			</p>

		</div>
	</div>
	</div> <!-- end of master-wrapper -->


	<!--  = JavaScript =  -->
	
	<script src="assets/js/underscore/underscore-min.js" type="text/javascript"></script>
	<script src="assets/js/bootstrap.min.js" type="text/javascript"></script>
	<script src="fonts/fontawesome/js/all.min.js" type="text/javascript"></script>
	<script src="assets/js/rs-plugin/pluginsources/jquery.themepunch.plugins.min.js" type="text/javascript"></script>
	<script src="assets/js/rs-plugin/js/jquery.themepunch.revolution.min.js" type="text/javascript"></script>
	<script src="assets/js/jquery.carouFredSel-6.2.1-packed.js" type="text/javascript"></script>
	<script src="assets/js/jquery-ui-1.10.3/js/jquery-ui-1.10.3.custom.min.js" type="text/javascript"></script>
	<script src="assets/js/jquery-ui-1.10.3/touch-fix.min.js" type="text/javascript"></script>
	<script src="assets/js/isotope/jquery.isotope.min.js" type="text/javascript"></script>
	<script src="assets/js/bootstrap-tour/build/js/bootstrap-tour.min.js" type="text/javascript"></script>
	<script src="assets/js/jquery-latest.min.js" type="text/javascript"></script>
	

	<!-- = Custom Js = -->

	<script>
		//add to cart
		const button = document.querySelector(".addtocart");
		const done = document.querySelector(".done");
		console.log(button);
		let added = false;
		button.addEventListener('click', () => {
			if (added) {
				done.style.transform = "translate(-110%) skew(-40deg)";
				added = false;
			} else {
				done.style.transform = "translate(0px)";
				added = true;
			}

		});
	</script>

	<script>
		//qty
		$(document).ready(function () {
			var quantitiy = 0;
			$('.quantity-right-plus').click(function (e) {

				// Stop acting like a button
				e.preventDefault();
				// Get the field name
				var quantity = parseInt($('#quantity').val());

				// If is not undefined
				$('#quantity').val(quantity + 1);

				// Increment
			});

			$('.quantity-left-minus').click(function (e) {
				// Stop acting like a button
				e.preventDefault();
				// Get the field name
				var quantity = parseInt($('#quantity').val());

				// If is not undefined
				// Increment
				if (quantity > 0) {
					$('#quantity').val(quantity - 1);
				}
			});

		});
	</script>

	<script>
		//Wishlist
		$(".button").click(function () {
			if ($(this).hasClass("deactivate")) {
				$(this).removeClass("deactivate");
			}
			if ($(this).hasClass("active")) {
				$(this).addClass("deactivate");
			}
			$(this).toggleClass("animate");
			$(this).toggleClass("active");
			$(this).toggleClass("inactive");
		});
	</script>


	<!-- /Custom Js-->

</body>

</html>